<%= form_with(model: contribucio) do |form| %>
  <% if contribucio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contribucio.errors.count, "error") %> prohibited this contribucio from being saved:</h2>

      <ul>
        <% contribucio.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :tittle %>
    <%= form.text_field :tittle %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url %>
  </div>
  
  <div class="field">
    <%= form.label :texto %>
    <%= form.text_field :texto %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
