<%= form_with(model: user, url: users_path, action: "login") do |f| %>

   <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.text_field :password %>
  </div>

  <div class="actions" type>
    <%= f.submit "Log In" %>
  </div>
  
<% end %>