<%= form_with(model: user, url: users_path, action: "login") do |form| %>
  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password %>
  </div>

  <div class="actions" type>
    <%= form.submit "Log In" %>
  </div>
<% end %>