<p id="notice"><%= notice %></p>

<p>
  <strong>Tittle:</strong>
  <%= @news.tittle %>
</p>

<p>
  <strong>Url:</strong>
  <%= @news.url %>
</p>

<p>
  <strong>Content:</strong>
  <%= @news.content %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @news.created_At %>
</p>

<p>
  <strong>Likes:</strong>
  <%= @news.likes %>
</p>

<p>
  <strong>User:</strong>
  <%= @news.user_id %>
</p>

<%= link_to 'Edit', edit_news_path(@news) %> |
<%= link_to 'Back', news_index_path %>
